<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Craftsvilla">
<listeners>
<listener class-name="com.craftsvilla.generic.ScreenshotCapture"></listener>
</listeners>
  <test thread-count="5" name="Regression">
  <parameter name="browser" value="chrome"></parameter>
  <classes>
  <class name="com.craftsvilla.testscripts.EmbroidedSaressScripts"> </class>
  </classes>
  </test> <!-- Regression -->
</suite> <!-- Craftsvilla -->
